.top{
    position: relative;
    margin: 15px auto 0 auto;
    max-width: 1000px;
}

.title{
    height: 62px;
    margin: 100px 0;
    background: url(http://robolink.co.kr/sw/download/img/title.png) 50% 0 no-repeat;
    align-content: center;
}

.title_01{
    height: 49px;
    margin-bottom: 10px;
    background: url(http://robolink.co.kr/sw/download/img/title_01_codrone.png) 50% 0 no-repeat;
    align-content: center;
}

.title_02{
    height: 53px;
    margin-bottom: 10px;
    background: url(http://robolink.co.kr/sw/download/img/title_02_rokitsmartcodingkit.png) 50% 0 no-repeat;
    align-content: center;
}

.title_03{
    height: 49px;
    margin-bottom: 10px;
    background: url(http://robolink.co.kr/sw/download/img/title_03_rokitsmartkit.png) 50% 0 no-repeat;
    align-content: center;
}

.title_04{
    height: 49px;
    margin-bottom: 10px;
    background: url(http://robolink.co.kr/sw/download/img/title_04_rokitdrone.png) 50% 0 no-repeat;
    align-content: center;
}

.title_05{
    height: 49px;
    margin-bottom: 10px;
    background: url(http://robolink.co.kr/sw/download/img/title_05_sweducationkit.png) 50% 0 no-repeat;
    align-content: center;
}

.content{
    max-width: 900px;
    min-width: 900px;
    border: 7px;
    border-style: solid;
    border-color: #f5f5f5;
    padding: 43px;
    text-align: left;
    margin-bottom: 90px;
}

.img_01{
    max-width: 395px;
    align-content: left;
}

.rightbox{
    padding: 0 0 0 5px;
    max-width: 395px;
    text-align: left;
}

.btmargin{
    padding-left: 10px;
    margin: 0;
}

.subtitle_s{
    margin: 0 0 10px 0;
}

.subtitle_s2{
    margin-bottom: 10px;
    margin-left: 10px;
}

.subtitle_m{
    margin: 0 0 45px 0;
}